<form action="/artists" method="POST">
  <h1>Add an artist</h1>
    <input type="text" name="name" placeholder="Artist name">
    <input type="text" name="genre" placeholder="Genre">

    <input type="submit" value="Submit the form">
</form>