<html>
  <head></head>
  <body>
    <h1>Music Library</h1>

    <div>
        <br> <a href="/artists">Artists </a>
        <br> <a href="/albums">Albums </a>
        <br> <a href="/artists/new">Add new artist </a>
        <br> <a href="/albums/new">Add new album </a>
    </div>
  </body>
</html>